a {
color:#004B91;
}

.container {
min-width:800px;
background-color:#fff;/*#004B91;*/
z-index:-1;
}

.content .l2ColCon {
    text-align:left;
    display:block;
    padding:10px;
    float:left;
    height:100%;
    width:370px;
}

.content .r2ColCon#photoCol {
text-align:center;
}
.content .r2ColCon {
    text-align:left;
    display:block;
    padding:10px;
    float:left;
    height:100%;
    width:370px;
    overflow:hidden;
}

.r2ColCon img {
    padding: 10px 20px;
    display:block;
    max-height:250px; 
    max-width:370px;
    vertical-align:middle;
    margin:auto;
}

.docs-con-top, .docs-con-bottom {
    max-width:750px;
    text-align:left;
    display:block;
    padding:10px;
    float:left;
}

.content {
width:800px;
overflow:hidden;
display:block;
background-color:#fff;
margin:0 auto;
min-height:400px;
clear:both;
}


.blog-header {
background-color:#fff;

}

.branding {
padding: 40px 0px 20px 0px;
width:800px;
display:block;
margin:0 auto;

}

#blog-title a {
font-size:30px;
color:#000;
font-weight:bold;
text-decoration:none;
font-family:Helvetica, sans-serif;
line-height:40px;

}

#blog-description {
color: #666;
font-size: 85%;
font-style: italic;
font-family:Helvetica, sans-serif;
}

#access {
border-bottom:1px solid #ccc;
font-size:16px;
height:35px;
overflow:visible;
z-index:100;
}


.menu, .bottom-menu {
    font-size:16px;
    overflow:visible;
    z-index:100;
    line-height:1.0;
}

.bottom-menu {
height:50px;
}
.menu {
height:35px;
}

.menu, .menu *, .bottom-menu, .bottom-menu * {
    list-style:none;
    margin:0;
    padding: 0;

}

.menu-div, .bottom-menu-div {
width:800px;
display:block;
margin:0 auto;
}

.bottom-menu-div {
    height:50px;
    margin-top:15px;
    margin-bottom:15px;
}

.menu, .bottom-menu {
display:block;
margin:0 auto;
}

.menu ul, .bottom-menu ul {
    position:absolute;
    top:0em;
    width:10em; /* left offset of submenus needs to match (see below) */
}

.menu ul li, .bottom-menu ul li {
    width:100%;
}

.menu li:hover, .bottom-menu li:hover {
visibility: inherit; /* fixes IE7 'sticky bug' */
}

.menu li, .bottom-menu li {
float:left;
position: relative;
}

.menu li a{
display:block;
}

.menu a{
display: block;
position: relative;
}

.bottom-menu a{
position:inline-block;
position:relative;
}

/*** sub-menus ***/
.menu li ul{
display:none;
}
.menu li:hover ul {
display:block; /*display the dropdown*/
position:relative;
}

.menu li ul a {
border-right:1px solid #ccc;
border-top:none;
text-align:center;
}


/*** Thematic Skin ***/
.menu {
border-right:1px solid #ccc;
float:left;
}

.menu a {
border-left:1px solid #ccc;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
padding:9px 13px;
text-decoration:none;
}

.bottom-menu li {
    /*padding-right: 20%;*/
    width:200px;
    display:block;
    float:left;
    text-align:center;
}

.menu .menu-item a{
color:#004B91;
background-color:#fff
}

.menu .menu-item a:hover{
text-decoration:underline;
background-color:#ddd;
}

.menu .current-menu-item a {
font-weight:bold;
color:#000000;
border-bottom:1px solid #fff;
}


.bottom-menu img {
max-width:50px;
max-height:50px;
}


table#proctable, table#proctable * {
padding:0;
margin:0;
overflow:visible;
width:100%;
}

table#proctabletwo {
padding:0;
margin:0px;
overflow:visible;
width:100%;
}

table#proctabletwo tr td {
text-align:center;
margin:20px 0px;
}
table#proctabletwo img {
width:180px;
margin:20px 20px 0px 0px;
}





/*r2ColCon#proctable tr td {
overflow:visible;
width:100px;
}*/

table#proctable img {
 width:180px;
}
/*#proctable img.resize {
    width:100px;
    height:auto;
}*/

.l2ColCon#mmp2014 h4 {
margin:20px 0px 10px 0px;
padding:0;
}

.l2ColCon#mmp2014 ul li {
    margin: 5px 0px;
}

.l2ColCon#mmp2014 ul {
    margin:0;
    padding:0;
}

.l2ColCon ul {
 list-style:none;
 margin:0;
 padding:0;
}
.r2ColCon ul {
 list-style:none;
 margin:0;
 padding:0;
}

.content canvas {
    display: block; 
    margin:0 auto;
}
.content h3#proctitle {
text-align:center;
}

